extends layout_login

block content

    script(type="text/javascript").
  
        $(document).ready(function(){

        var myData = [1000.9, 500.5, 5000.4, 1456.2, 500.0, 1600.0, 1500.6, 2500.5]

        var myChart = new Highcharts.chart('dashboard01', {
            colors: ['#19e1ff', '#4500b7'],
            chart: {
                type: 'column'
            },
            title: {
                text: 'Minhas Carteiras'
            },
            subtitle: {
                text: 'Grafico de acompanhamento das suas carteiras'
            },
            xAxis: {
                categories: [
                    'Carteira A',
                    'Carteira B',
                    'Carteira C',
                    'Carteira D',
                    'Carteira E',
                    'Carteira F',
                    'Carteira G',
                    'Carteira H'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Parcelas pagas da carteira'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    dataLabels: {
                    enabled: true
                    },
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Retorno',
                data: myData
            },
            {
                name: 'Estimado',
                data: [5000.0, 8000.00, 9000.00, 7000.00, 9000.00, 8036.00, 8250.25, 6930.00]
            }]
            });

        //- Highcharts.chart('dashboard02', {
        //-     chart: {
        //-         plotBackgroundColor: null,
        //-         plotBorderWidth: 0,
        //-         plotShadow: false
        //-     },
        //-     title: {
        //-         text: '<small>Top 5 gastos</small>',
        //-         align: 'center',
        //-         verticalAlign: 'middle',
        //-         y: 40
        //-     },
        //-     tooltip: {
        //-         pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        //-     },
        //-     plotOptions: {
        //-         pie: {
        //-             dataLabels: {
        //-                 enabled: true,
        //-                 distance: -50,
        //-                 style: {
        //-                     fontWeight: 'bold',
        //-                     color: 'white'
        //-                 }
        //-             },
        //-             startAngle: -90,
        //-             endAngle: 90,
        //-             center: ['50%', '75%']
        //-         }
        //-     },
        //-     series: [{
        //-         type: 'pie',
        //-         name: 'Principais gastos',
        //-         innerSize: '60%',
        //-         data: [
        //-             ['Alimentação',   10.38],
        //-             ['Roupas',       40.33],
        //-             ['Cinema', 20.03],
        //-             ['Games',    13.77],
        //-             ['Material Escolar',     1.91],
        //-             {
        //-                 name: 'Proprietary or Undetectable',
        //-                 y: 0.2,
        //-                 dataLabels: {
        //-                     enabled: false
        //-                 }
        //-             }
        //-         ]
        //-     }]
        //- });

        //- Highcharts.chart('dashboard03', {
        //-     chart: {
        //-         type: 'column',
        //-         options3d: {
        //-             enabled: true,
        //-             alpha: 10,
        //-             beta: 25,
        //-             depth: 70
        //-         }
        //-     },
        //-     title: {
        //-         text: 'Acumulado de gastos ao ano'
        //-     },
        //-     subtitle: {
        //-         text: ''
        //-     },
        //-     plotOptions: {
        //-         column: {
        //-             depth: 25
        //-         }
        //-     },
        //-     xAxis: {
        //-         categories: Highcharts.getOptions().lang.shortMonths
        //-     },
        //-     yAxis: {
        //-         title: {
        //-             text: null
        //-         }
        //-     },
        //-     series: [{
        //-         name: '',
        //-         data: [2, 3, null, 4, 0, 5, 1, 4, 6, 3]
        //-     }]
        //- });
        
        //- var datas = [
        //-   [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 185.6, 160.5],
        //-   [55.9, 71.5, 106.4, 129.2, 144.0, 176.0, 185.6, 170.5],
        //-   [70.9, 71.5, 106.4, 129.2, 144.0, 176.0, 185.6, 175.5]
        //- ]

        var data = [1000.9, 500.5, 5000.4, 1456.2, 500.0, 1600.0, 1500.6, 2500.5]
        var carteiras = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

        function updateChart(timeout){

            setTimeout(function(){
            var pos = Math.floor(Math.random() * 7)

            var novoValor = (pos + Math.floor(Math.random() * 150))
            data[pos] += novoValor

            myChart.series[0].setData (data);

            alertify.warning('Carteira ' + carteiras[pos] + ' atualizada em +' + novoValor)

            updateChart(Math.floor(Math.random() * 15) * 1000)

            }, timeout)
        
            
        }

        updateChart(1500)
        
        })

    //- div(id='div_container')
    div(id="dashboard01" style="width:90%")


